@import '../../../../assets/custom-variables.scss';

.tertiary-nav {
    display        : flex;
    justify-content: center;
    padding        : $padding-md;
    border-radius  : 5px;
    background     : $colour-midnight;

    .mat-tab-link {
        font-weight: bold;
        font-size  : $font-size-lg;
        color      : $colour-white;
    }
}

.tertiary-nav-link {
    min-width: 120px;
}