<!-- Footer -->
<footer class="page-footer font-small">

    <!-- Footer Elements -->
    <div class="container">

      <!-- Grid row-->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-12 py-4">
          <div class="mb-5 flex-center">

            <!-- Facebook -->
            <a class="fb-ic" href="https://www.facebook.com/CresmosGG" target="_blank">
              <mdb-icon fab icon="facebook" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
            </a>
            <!-- Twitter -->
            <a class="fb-ic" href="https://twitter.com/cresmosgg" target="_blank">
              <mdb-icon fab icon="twitter" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
            </a>
            <!--Youtube -->
            <a class="li-ic" href="http://youtube.com/c/cresmos" target="_blank">
                <mdb-icon fab icon="youtube" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
            </a>
            <!--Instagram-->
            <a class="ins-ic" href="https://www.instagram.com/cresmosgg" target="_blank">
                <mdb-icon fab icon="instagram" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
            </a>
            <!--Discord-->
            <a class="dis-ic" href="https://bit.ly/cresmos" target="_blank">
                <mdb-icon fab icon="discord" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
            </a>
            <!--Telegram-->
            <a class="dis-ic" href="https://t.me/cresmos" target="_blank">
              <mdb-icon fab icon="telegram" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a>
          </div>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="http://cresmos.com/" target="_blank">Cresmos.com</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->