@import '../../../assets/custom-variables.scss';

table {
    width: 100%;
    color: $colour-white;
}

td.mat-cell {
    padding: 12px;
}

td {
    a {
        font-weight : bold;
        margin-right: $margin-md;
        color       : $colour-white;
    }
}

th.mat-header-cell {
    padding: 12px;
}