<div class="forget-password">
    <div class="form-container">
        <div class="header">{{ getHeaderMessage() }}</div>
        <div *ngIf="!submitted" class="form-details">
            <form [formGroup]="forgetPasswordForm" class="form-fields">

                <div class="field">
                    <input type="email" class="form-input" placeholder="Email" ngModel email="true"
                        formControlName="email">
                </div>
                <app-validation-error [formCtrl]="getFormControl('email')"></app-validation-error>

            </form>
            <button mat-flat-button type="button" (click)="onSubmit()" class="btn-md" disableRipple>
                <span class="btn-txt">Submit</span>
            </button>
        </div>
        <div class="register-link">
            <a [routerLink]="['/login']">Back to log in</a>
        </div>
    </div>
    <app-validation-message [validationMessages]="validationMessages"></app-validation-message>
</div>