@font-face {
    font-family: 'Metropolis Regular';
    font-style: normal;
    font-weight: 400;
    src: local('Metropolis Regular'), local('MetropolisRegular'), url('fonts/Metropolis-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Metropolis Medium';
    font-style: normal;
    font-weight: 400;
    src: local('Metropolis Medium'), local('MetropolisMedium'), url('fonts/Metropolis-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Metropolis Bold';
    font-style: normal;
    font-weight: 400;
    src: local('Metropolis Bold'), local('MetropolisBold'), url('fonts/Metropolis-Bold.woff') format('woff');
}